.btn {
  display: inline-flex;
  padding: 21px 20px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  background-color: transparent;
  border: 4px solid $color-default-white;
  cursor: pointer;
  transition: $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
