.contacts {
  background: linear-gradient(to right, $color-tory-blue 50%, $color-default-white 50%);

  @include vp-1199 {
    background: none;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;

  @include vp-1199 {
    grid-template-columns: 1fr;
  }
}

.contacts__left-column {
  padding: 70px 170px 70px 20px;

  @include vp-1199 {
    padding: 70px 163px 70px 133px;
    background-color: $color-tory-blue;
  }

  @include vp-767 {
    padding: 70px 15px;
  }
}

.contacts__form-title {
  color: $color-default-white;
  margin-bottom: 37px;
}

.contacts__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.contacts__form-field input {
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  padding: 6px 6px 6px 0;
  background-color: transparent;
  color: $color-default-white;
  border: none;
  border-bottom: solid 1px #74819C;
  transition: $trans-default;

  &:hover,
  &:focus {
    background-color: $color-resolution-blue;
  }
}

.contacts__form-button {
  grid-column: 1 / 3;

  @include vp-767 {
    grid-column: 1 / 2;
  }
}

.contacts__right-column {
  padding: 70px 56px 70px 120px;

  @include vp-1199 {
    padding: 70px 163px 70px 133px;
  }

  @include vp-767 {
    padding: 70px 15px;
  }
}

.contacts__title {
  margin-bottom: 38px;
}

.contacts__list-wrapper {
  display: flex;

  @include vp-767 {
    flex-direction: column;
  }
}

.contacts__list-address {
  padding-right: 60px;
  border-right: 1px solid #74819C;

  @include vp-767 {
    padding-right: 0;
    border-right: none;
    margin-bottom: 20px;
  }
}

.contacts__list-phone {
  padding-left: 60px;

  @include vp-767 {
    padding-left: 0;
  }
}

.contacts__item {
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__item h3 {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 3px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts__item p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }
}

.contacts__item a {
  font-size: 14px;
  line-height: 21px;
  color: inherit;
  transition: $trans-default;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }
}

