.contacts {
  background: linear-gradient(
    to right,
    $color-tory-blue 50%,
    $color-default-white 50%
  );

  @include vp-1199 {
    background: none;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;

  @include vp-1199 {
    grid-template-columns: 1fr;
  }
}

.contacts__left-column {
  padding: 70px 170px 63px 20px;

  @include vp-1199 {
    padding: 70px 163px 67px 133px;
    background-color: $color-tory-blue;
  }

  @include vp-767 {
    padding: 70px 15px 68px;
  }
}

.contacts__form-title {
  color: $color-default-white;
  margin-bottom: 39px;

  @include vp-1199 {
    margin-bottom: 32px;
  }

  @include vp-767 {
    margin-bottom: 34px;
  }
}

.contacts__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;

  @include vp-1199 {
    column-gap: 60px;
    row-gap: 28px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 31px;
  }
}

.contacts__form-field input {
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  padding: 6px 6px 6px 0;
  background-color: transparent;
  color: $color-default-white;
  border: none;
  border-bottom: solid 1px #74819c;
  transition: $trans-default;

  &:hover,
  &:focus {
    background-color: $color-resolution-blue;
  }
}

.contacts__form-button {
  font-size: 14px;
  line-height: 16px;
  grid-column: 1 / 3;
  padding: 18px 20px 16px;
  border-width: 3px;

  @include vp-767 {
    grid-column: 1 / 2;
    margin-top: 6px;
  }
}

.contacts__right-column {
  padding: 70px 16px 63px 120px;

  @include vp-1199 {
    padding: 70px 103px 62px 133px;
  }

  @include vp-767 {
    padding: 70px 15px 61px;
  }
}

.contacts__title {
  margin-bottom: 42px;

  @include vp-1199 {
    margin-bottom: 32px;
  }

  @include vp-767 {
    margin-bottom: 34px;
  }
}

.contacts__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 120px;
  row-gap: 17px;
  padding-left: 4px;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    width: 1px;
    height: 100%;
    background-color: #74819C;
  }

  @include vp-1199 {
    column-gap: 96px;
    row-gap: 19px;
    padding-left: 0;
  }

  @include vp-767 {
    grid-template-columns: 1fr;

    &::after {
      display: none;
    }
  }
}

.contacts__item_phone {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  @include vp-767 {
    grid-column: auto;
    grid-row: auto;
  }
}

.contacts__item h3 {
  font-size: 16px;
  line-height: 24px;
  margin: 0;

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts__item p {
  font-size: 14px;
  line-height: 21px;
  margin: 3px 0 0;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
    margin-top: 6px;
  }
}

.contacts__item a {
  font-size: 14px;
  line-height: 21px;
  color: inherit;
  transition: $trans-default;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  @include vp-1199 {
    display: inline-block;
    font-size: 18px;
    line-height: 27px;
    margin-top: 6px;
  }
}
