.footer {
  background-color: $color-russian-black;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 41px;
  padding-bottom: 23px;

  @include vp-1199 {
    padding: 45px 40px 25px 45px;
  }

  @include vp-767 {
    flex-direction: column;
    padding-top: 47px;
    padding-bottom: 32px;
  }
}

.footer__nav {
  flex-grow: 1;
  max-width: 826px;
  padding-right: 30px;

  @include vp-1199 {
    max-width: 565px;
  }

  @include vp-767 {
    padding-right: 0;
  }
}

.footer__social {
  flex-grow: 1;
  max-width: 334px;
  @include vp-767 {
    margin-top: 35px;
  }
}

.footer__social-list {
  @include vp-767 {
    justify-content: flex-start;
  }
}
