.promotions__title {
  text-align: center;
  margin-bottom: 51px;

  @include vp-1199 {
    margin-bottom: 40px;
  }

  @include vp-767 {
    margin-bottom: 42px;
  }
}

.promotions__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  min-height: 462px;

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.promotions__item-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1 / 3;

  @include vp-1199 {
    grid-template-columns: auto 399px;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    min-height: 462px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 299px;
    grid-column: 1 / 2;
  }
}

.promotions__item-main-desc {
  display: flex;
  flex-direction: column;
  padding: 42px 45px 45px;
  background-color: $color-torch-red;
  color: $color-default-white;

  @include vp-767 {
    align-items: center;
    min-height: 299px;
    padding: 41px 25px 45px;
  }
}

.promotions__item-main-desc h3 {
  font-size: 28px;
  line-height: 28px;
  margin: 0 0 3px;
}

.promotions__item-main-desc strong {
  font-size: 70px;
  line-height: 70px;
  margin: 0 0 18px;

  @include vp-767 {
    margin: 0 0 13px;
  }
}

.promotions__item-main-desc p {
  font-size: 18px;
  line-height: 25px;
  margin: 0;

  @include vp-767 {
    text-align: center;
  }
}

.promotions__item-main-desc a {
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  border-bottom: solid 1px $color-default-white;
}

.promotions__img-wrapper {
  position: relative;
  overflow: hidden;

  @include vp-767 {
    height: 299px;
  }
}

.promotions__item-main img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;

  @include vp-767 {
    height: auto;
  }
}

.promotions__item {
  display: flex;
  flex-direction: column;
  min-height: 211px;
  padding: 24px 28px 30px;
  border: 7px solid transparent;
  border-image: linear-gradient(#ed0233 17.6%, #003eb7 95.31%);
  border-image-slice: 1;

  @include vp-767 {
    padding: 36px 25px 40px;
  }
}

.promotions__item h3 {
  font-size: 26px;
  line-height: 26px;
  margin: 0 0 10px;

  @include vp-767 {
    text-align: center;
  }
}

.promotions__item p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;

  @include vp-767 {
    text-align: center;
  }
}

.promotions__item a {
  font-size: 12px;
  line-height: 14px;
  color: $color-tory-blue;
  border-bottom: solid 1px $color-tory-blue;
}

.promotions__item-main-desc a,
.promotions__item a {
  align-self: flex-start;
  margin-top: auto;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: $trans-default;

  &:hover,
  &:focus {
    border-bottom-color: transparent;
  }

  @include vp-767 {
    align-self: center;
  }
}
