.reviews {
  max-width: 692px;
  padding: 0 0 120px;

  @include vp-1199 {
    max-width: 698px;
    padding: 0 0 100px;
  }

  @include vp-767 {
    max-width: 100%;
    padding: 0 0 70px;
  }
}

.reviews__title {
  text-align: center;
  margin-bottom: 50px;
}

.reviews__slider {
  position: relative;
  overflow: hidden;
  padding: 0 66px;

  @include vp-767 {
    padding: 0 47px;
  }
}

.reviews__item {
  display: grid;
  grid-template-columns: 80px minmax(auto, 328px);
  column-gap: 28px;
  max-width: 560px;
  padding: 54px 62px 57px;
  color: $color-default-white;
  background-color: $color-resolution-blue;

  @include vp-1199 {
    max-width: 566px;
    padding: 54px 65px 57px;
  }

  @include vp-767 {
    grid-template-columns: 83px auto;
    align-items: center;
    row-gap: 20px;
    column-gap: 15px;
    max-width: 100%;
    padding: 40px 25px;
  }
}

.reviews__item picture {
  grid-row: 1 / 3;

  @include vp-767 {
    grid-row: 1 / 2;
  }
}

.reviews__item img {
  grid-row: 1 / 3;

  @include vp-767 {
    padding-left: 15px;
    grid-row: 1 / 2;
  }
}

.reviews__item h3 {
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 11px;

  @include vp-767 {
    margin: 0;
  }
}

.reviews__item p {
  grid-column: 2 / 3;
  font-size: 16px;
  line-height: 22px;
  margin: 0;

  @include vp-767 {
    grid-column: 1 / 3;
    text-align: center;
  }
}

.reviews__slider .slider-nav_prev {
  left: 10px;

  @include vp-767 {
    left: 15px;
  }
}

.reviews__slider .slider-nav_next {
  right: 10px;

  @include vp-767 {
    right: 15px;
  }
}

