.slider-nav {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translate(0, -50%);
  width: 16px;
  height: 32px;
  background: transparent url("../img/svg/slider-arrow.svg") center no-repeat;
  border: none;
  cursor: pointer;

  &_prev {
    left: -56px;
  }

  &_next {
    right: -56px;
    transform: translate(0, -50%) rotate(180deg);
  }

  @include vp-767 {
    width: 10px;
    height: 19px;
    background-size: 10px 19px;

    &_prev {
      left: -32px;
    }

    &_next {
      right: -32px;
    }
  }
}
