.social__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 25px);
  gap: 11px;
  max-width: 334px;
}

.social__link {
  transition: opacity $trans-default;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
