.subscription {
  position: relative;
  background-color: $color-ghost-white;

  &::after {
    content: url("../img/subscription-decor.png");
    position: absolute;
    bottom: -157px;
    right: 0;
  }

  @include vp-767 {
    &::after {
      display: none;
    }
  }
}

.subscription__wrapper {
  @include vp-1199 {
    padding: 100px 163px;
  }
}

.subscription__title {
  text-align: center;
  margin-bottom: 21px;
}

.subscription__tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscription__tabs-triggers {
  position: relative;
  display: flex;
  margin-bottom: 37px;
  border-bottom: 2px solid $color-grey;

  @include vp-767 {
    margin-bottom: 35px;
  }
}

.subscription__tabs-triggers_no-js {
  display: none;
}

.tabs__triggers-item {
  position: relative;
  font-size: 20px;
  line-height: 30px;
  padding: 12px 0;
  margin-right: 46px;
  color: #10265450;
  background-color: transparent;
  transition: $trans-default;
  cursor: pointer;
  z-index: 1;

  &:last-of-type {
    margin-right: 0;
  }

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
    margin-right: 54px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
    margin-right: 45px;
  }
}

.subscription__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 360px));
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1199 {
    grid-template-columns: 1fr;
  }
}

.subscription__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 448px;
  padding: 63px 77px 68px;
  background-color: $color-default-white;
  transition: $trans-default;
  z-index: 1;

  &:last-child {
    margin-right: 0;
  }

  &::after {
    z-index: -1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity $trans-600;
    opacity: 0;
    border: 7px solid transparent;
    border-image: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    border-image-slice: 1;
  }

  &:hover::after {
    opacity: 1;
  }

  @include vp-1199 {
    padding: 63px 118px 68px;
  }

  @include vp-767 {
    min-height: 384px;
    padding: 50px 42px 55px;
  }
}

.subscription__item h4 {
  font-size: 26px;
  line-height: 29px;
  margin: 0 0 9px;

  @include vp-767 {
    font-size: 22px;
    line-height: 24px;
  }
}

.subscription__item p {
  margin: 0 0 81px;

  @include vp-767 {
    margin-bottom: 75px;
  }
}

.subscription__price-shadow {
  position: absolute;
  top: -69px;
  left: -20px;
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  color: $color-whisper;
  z-index: -1;
}

.subscription__item b {
  position: relative;
  display: flex;
  align-items: baseline;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 50px;
  color: #103aae;

  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 42px;
    margin-left: 14px;
    background: url("../img/svg/ruble.svg") bottom no-repeat;
  }

  @include vp-767 {
    font-size: 48px;
    line-height: 72px;

    &::after {
      width: 24px;
      height: 33px;
      margin-left: 10px;
      background-size: 24px 33px;
    }
  }
}

.subscription__item a {
  position: relative;
  padding: 23px 20px;
  color: $color-tory-blue;
  align-self: stretch;
  transition: color $trans-default;
  z-index: 1;
  border: 2px solid $color-tory-blue;

  &::after {
    z-index: -1;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity $trans-600;
    opacity: 0;
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%)
      no-repeat;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }

  &:hover,
  &:focus {
    padding: 25px 20px;
    color: $color-default-white;
    border: none;
  }
}
