.tabs__triggers-item {
  position: relative;
  font-size: 20px;
  line-height: 30px;
  padding: 12px 0;
  margin-right: 46px;
  color: #10265450;
  background-color: transparent;
  transition: $trans-default;
  cursor: pointer;
  z-index: 1;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: $color-tory-blue;
  }

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
    margin-right: 54px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
    margin-right: 45px;
  }
}

.tabs__triggers-item_active {
  color: $color-tory-blue;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: $color-crimson;
    z-index: 2;
  }
}

.tabs__content-list {
  @include vp-1199 {
    align-self: stretch;
  }
}

.tabs__content-list_no-js .tabs__content-item {
  display: block;
}

.tabs__content-item {
  display: none;
}

.tabs__content-item_active {
  display: block;
}

.tabs__content-item-title {
  display: none;
}

.tabs__content-item-title_no-js {
  display: block;
}
