.title {
  font-family: $ff-bebas-neue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $color-tory-blue;
  margin: 0;

  &_big {
    font-size: 109px;
    line-height: 109px;
    letter-spacing: 0.03em;
    color: $color-default-white;
  }
}
