.trainers {
  padding: 0 66px 120px;
  max-width: 1292px;

  @include vp-1199 {
    padding: 0 101px 100px;
    max-width: 768px;
  }

  @include vp-767 {
    padding: 0 47px 70px;
  }
}

.trainers__title {
  margin-bottom: 50px;

  @include vp-1199 {
    text-align: center;
    margin-bottom: 40px;
  }

  @include vp-767 {
    margin-bottom: 42px;
  }
}

.trainers__slider-wrapper {
  position: relative;
}

.trainers__slider_no-js .slider-nav {
  display: none;
}

.trainers__slider {
  overflow: hidden;
}

.trainers__item {
  position: relative;
  width: 260px;
  height: 294px;
  margin-right: 20px;
  color: $color-default-white;
  z-index: 1;
  overflow: hidden;

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(4n) {
    margin-right: 100px;
  }

  &:hover .trainers__item-desc,
  &:focus .trainers__item-desc {
    top: 0;
    transition: $trans-default;
    background-color: #10265490;
    height: 100%;
    overflow-y: scroll;
    padding-right: 38px;

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #f9fbfd;
      border: 2px solid $color-russian-black;
      border-radius: 25px;
    }
  }

  &:hover h3,
  &:focus h3 {
    margin-bottom: 0;
  }

  @include vp-1199 {
    width: 268px;

    &:hover h3,
    &:focus h3 {
      padding-right: 19px;
    }

    &:hover p,
    &:focus p {
      padding-right: 19px;
    }
  }

  @include vp-767 {
    min-height: 274px;
    height: auto;

    &:hover .trainers__item-desc,
    &:focus .trainers__item-desc {
      padding-right: 25px;
    }

    &:hover h3,
    &:focus h3 {
      padding-right: 0;
    }

    &:hover p,
    &:focus p {
      padding-right: 0;
    }
  }
}

.trainers__item-desc {
  position: absolute;
  top: 193px;
  width: 100%;
  padding: 56px 45px 30px 55px;

  @include vp-767 {
    top: auto;
    bottom: -221px;
    height: 312px;
    padding: 46px 33px 30px;
    overflow: hidden;
  }
}

.trainers__item-desc h3 {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin: 0 0 50px;
  padding-right: 9px;

  @include vp-1199 {
    padding-right: 0;
  }
}

.trainers__item-desc p {
  text-align: center;
  margin: 0 0 34px;
  padding-right: 10px;
  color: $color-spindle;

  @include vp-1199 {
    padding-right: 0;
  }
}

.trainers__item-desc ul {
  padding: 0;
  list-style: none;
}

.trainers__item-desc li {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 13px;
  padding-left: 16px;

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 25px;
    background-color: $color-default-white;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.trainers__item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
